*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/JniNative/Debug
/JniNative/Release
/JniNative/JniNative/Debug
/JniNative/JniNative/Release
/cjars
/JniNative/JniNative.opensdf
/JniNative/JniNative.sdf
/JniNative/JniNative.suo
/JniNative/ipch

/JNIEXE/JNIEXE.opensdf
/JNIEXE/JNIEXE.sdf
/JNIEXE/JNIEXE.suo
/JNIEXE/Debug
/JNIEXE/Release
/JNIEXE/JNIEXE/Debug
/JNIEXE/JNIEXE/Release
/JNIEXE/ipch
*.log
